/* Estilos Cards Autenticación */
.card-header > h1{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

.card-body > div > label {
    font-style: italic;
    font-size: 16px;
}

.col > a{
    text-decoration: none;
    color: black;
}

.col > a:hover{
    text-decoration:underline;
    color:#0a53be;
}